/bin/
/pdf/
/free_energy_error_select_above_delete_yes_10_not-normalized.dat.pdf
/free_energy_error_select_above_delete_yes_20_not-normalized.dat.pdf
/free_energy_error_select_above_delete_yes_5_not-normalized.dat.pdf
/free_energy_select_above_delete_yes_10_not-normalized.dat.pdf
/free_energy_select_above_delete_yes_20_not-normalized.dat.pdf
/free_energy_select_above_delete_yes_5_not-normalized.dat.pdf
/old/
